.site-container {
    max-width: 1216px;
    margin: 0 auto;
}

img {
    max-width: 100%;
    width: 100%;
    height: auto;
}

.carousel-div {
    max-width: 1216px;
    height: 400px; 
}

.carousel-image {
    object-fit: cover;
}

body {
    position: relative;
}

.list-group {
    top: 0%;
    z-index: 1;
}

.list-group-item {
    max-width: max-content;
    border-radius: 0 !important;
}

.inner-scrollspy {
    background-color: #fafafa;
}

.main-section {
    display: flex;
    flex-direction: column;
    gap: 30px;

    @media (min-width: 992px) {
        flex-direction: row;
    }
}

.main-section .list-group {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1;
    
    @media (min-width: 992px) {
        max-width: 200px;
    }
}

.main-section .scrollspy-example {
    padding: 0 15px;

    @media (min-width: 992px) {
        max-width: calc(100% - 230px);
    }   
}

.menu-card img {
    height: auto;
    object-fit: cover;

    @media (min-width: 548px) {
        height: 300px;
    }

    @media (min-width: 768px) {
        height: 250px;
    }

    @media (min-width: 992px) {
        height: 200px;
    }
  }

  .navbar-toggler {
    border: 0;
    outline: 0;
  }

  .navbar-toggler:focus {
    box-shadow: none;
  }

  .navbar-toggler .navbar-toggler-icon {
    background: url('./images/close-icon.svg') no-repeat;
    background-size: 30px;
    width: 30px;
    height: 30px;
  }

  .navbar-toggler.collapsed .navbar-toggler-icon {
    background: url('./images/hamburger.svg') no-repeat;
    background-size: 30px;
  }

  .accordion-item {
    margin: 0 15px 20px;
  }

  .carousel-item {
    position: relative;
  }

  .carousel-caption {
    position: absolute;
    top: 10%;
  }